# Python venv
.venv
.mypy_cache

# tasks.json
.vscode

# FTP host configs
hosts/*
!hosts/.env.example

# Build distributions
dist

# Native CC apis for LUA auto complete
cc-apis

# Config file for current deployment
config
