# Python venv
.venv
.mypy_cache

# tasks.json
.vscode

# FTP host configs
hosts/*
!hosts/example.env

# Profiles
profiles/*
!profiles/example.json

# Cache
.cache

# Build distributions
dist

# Native CC apis for LUA auto complete
cc-apis

# Config file for current deployment
config

# Pycache
**/__pycache__/